# Ignore everything by default
*

# Keep the folders for submissions
!DE1-FPGA/
!DE1-FPGA/**

!DE2-FPGA/
!DE2-FPGA/**
!ModelSim/
!ModelSim/**
!.png
# Keep .gitignore itself
!.gitignore
!.md
!README.md
!README_FPGA.md
!README_ModelSim.md
!README_ASSEMBLER.md
# Include assembler folder and all its contents
!assembler/
!assembler/**

# Include vhdl-src folder
!vhdl-src/
!media/
!media/**

# Include Quartus/VHDL design files from vhdl-src
!vhdl-src/**/*.vhd
!vhdl-src/**/*.v
!vhdl-src/**/*.bdf
!vhdl-src/**/*.qsf
!vhdl-src/**/*.qpf
!vhdl-src/**/*.qws
!vhdl-src/**/*.bsf
!vhdl-src/**/*.ptf
!vhdl-src/**/*.sof
!vhdl-src/**/*.tcl
!vhdl-src/**/class.ptf
!vhdl-src/**/*.mif

